@tailwind base;
@tailwind components;
@tailwind utilities;

.file-input-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p)/var(--tw-border-opacity));
}

.btn-secondary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--s)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--s)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--sc)/var(--tw-text-opacity));
}

.btn-secondary:hover, .btn-secondary.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--sf,var(--s))/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--sf,var(--s))/var(--tw-bg-opacity));
}

.btn:hover, .btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--nf,var(--n))/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nf,var(--n))/var(--tw-bg-opacity));
}

.toast {
    top: 0;
    opacity: 0;
}

@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    //25% {
    //    opacity: 0.5;
    //}
    //
    //50% {
    //    opacity: 1;
    //}
    //
    //75% {
    //    opacity: 0.5;
    //}

    99% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        top: 0;
    }
    15% {
        opacity: 1;
        top: 10px;
    }
    95% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 0;
    }
}

.fade-in {
    animation-name: fadein;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-direction: normal;
}
